/* SITET ER LAVET I 3 SKÆRMSTØRRELSER: 
X-SMALL (500PX), MD (768PX), XXL (1400PX) */

:root {
  --p-font: "lora";
  --overskrift: "caveat";
  --baggrund: #c4d6cb;
  --nav: #437266;
  --p-color: #e8feff;
  --article-color: #80b3ce;
}

/* BODY CCS */
body {
  background-color: var(--baggrund);
}

/* SECTION 1 */

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.logo {
  height: 100vh;
}

.logo img {
  height: 40%;
  margin-top: 30vh;
}

.nedad img {
  margin-top: -20vh;
  cursor: pointer;
  width: 10vw;
}

.nedad img:hover {
  animation-name: knap_kf;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.navigation {
  background-color: var(--nav);
  background-size: cover;
}

.nav-link {
  font-family: var(--p-font);
  color: var(--p-color);
  font-size: large;
}

.nav-link:hover {
  color: var(--baggrund);
  text-decoration: underline;
}

/* SECTION 2 */
#section2 {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vw;
}

#section2 article {
  background-color: var(--article-color);
  padding: 5vw;
}

#section2 h1,
#section2 p {
  color: var(--p-color);
}

h1 {
  font-family: var(--overskrift);
  font-size: xxx-large;
  color: var(--p-color);
}

p {
  font-family: var(--p-font);
  font-size: small;
}

.section2img {
  width: auto;
  height: 40vh;
}

.first {
  margin-top: 5vw;
  margin-left: 0vw;
}

.second {
  margin-left: 15vw;
  margin-top: -30vh;
}

.blomst {
  width: auto;
  height: 15vh;
  margin-top: 35vh;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.opdeler {
  width: 70%;
  margin-top: 15vw;
  margin-bottom: 15vw;
  margin-left: 15%;
}

/* SECTION 3 */
#section3 {
  background-image: url(img/berrieshoj.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10vw;
  position: absolute;
  z-index: -10;
}

#section3 article {
  background-color: rgba(245, 243, 190, 0.9);
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
  color: var(--nav);
  position: relative;
  margin-top: 10vw;
  z-index: -5;
}

#section3 h1 {
  color: var(--nav);
}

.tree {
  width: auto;
  height: 20vh;
}

.label {
  width: auto;
  height: 75vh;
  margin-left: 30vw;
  margin-top: -30vh;
  z-index: 10;
}

.opdeler2 {
  width: 70%;
  margin-bottom: 15vh;
  margin-left: 15%;
  transform: rotateY(180deg);
  margin-top: 15vh;
}

.opdeler3 {
  width: 70%;
  margin-bottom: 15vh;
  margin-left: 15%;
  transform: rotateY(180deg);
  margin-top: 130vh;
}

/* SECTION 4 */
#section4 img {
  width: 90%;
  margin-left: 5vw;
  margin-right: 5vw;
}

#section4 .opdeler {
  width: 60%;
  margin-top: 15vw;
  margin-bottom: 15vw;
  margin-left: 20%;
}

/* SECTION 5 */
#section5 {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vw;
}

#section5 article {
  background-color: var(--article-color);
  padding: 5vw;
}

#section5 .opdeler {
  transform: rotateY(180deg);
}

#section5 .text {
  color: var(--p-color);
  border: var(--p-color) solid 2px;
  padding: 2vw;
  margin-bottom: 5vw;
}

h2 {
  font-family: var(--p-font);
  color: var(--p-color);
}

#section5 p {
  font-family: var(--p-font);
  color: var(--p-color);
}

#section5 .apple {
  width: auto;
  transform: translate(-80%, 40%);
}

#section5 .glas {
  width: auto;
  height: 15vh;
  transform: translateX(750%);
}

#section5 .batteri {
  width: auto;
  height: 10vh;
  transform: translate(-60%, 40%);
}

/* SECTION 6 */
#section6 .info {
  border-radius: 100%;
  width: 60%;
  margin-left: 10vw;
}

.havet {
  width: 170%;
  margin-left: -40vw;
}

/* SECTION 7 */
#section7 {
  background-image: url(img/baggrund.png);
  position: absolute;
}

#section7 article {
  background-color: var(--article-color);
  padding: 5vw;
  margin: 5vw;
  position: relative;
}

#section7 p {
  font-family: var(--p-font);
  color: var(--p-color);
}

#section7 h3 {
  font-family: var(--p-font);
  color: var(--p-color);
}

.tilbage {
  width: 10vw;
}

.kayak {
  width: 40%;
}

.some {
  width: 10%;
  margin: 5vw;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: var(--nav);
  padding: 5vw;
  color: #e8feff;
}

footer a {
  font-family: var(--p-font);
  color: var(--p-color);
  font-size: small;
  text-align: end;
}

footer a:hover {
  color: var(--baggrund);
}

.tilbage {
  cursor: pointer;
  margin-top: 140vh;
}

.tilbage:hover {
  animation-name: knap_kf;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes knap_kf {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.opadtxt {
  color: var(--nav);
}

@media (min-width: 768px) {
  .flexbox {
    display: flex;
    flex-direction: row;
  }

  .nedad img {
    margin-top: -20vh;
    cursor: pointer;
    width: 7vw;
  }

  #section2 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vw;
  }

  .section2img {
    width: auto;
    height: 40vh;
  }

  .first {
    margin-top: 5vw;
    margin-left: 35%;
  }

  .blomst {
    width: auto;
    height: 20vh;
    margin-top: 20vh;
  }

  #section2 p {
    margin-right: 10vw;
  }

  .opdeler {
    width: 40%;
    margin-left: 30%;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #section3 {
    background-size: cover;
  }

  #section3 p {
    margin-right: 10vw;
  }

  .label {
    margin-left: 50vw;
    margin-top: -40vh;
  }

  .opdeler2 {
    width: 40%;
    margin-left: 30%;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }

  .opdeler3 {
    width: 40%;
    margin-left: 30%;
    margin-top: 140vh;
    margin-bottom: 15vh;
  }

  .section5overskrift {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: -5vh;
  }

  h2 {
    font-size: x-large;
  }

  #section5 .apple {
    width: 10vw;
    transform: translate(-80%, 10%);
  }

  #section5 .glas {
    width: auto;
    height: 15vh;
    transform: translateX(1000%);
  }

  #section5 .batteri {
    width: auto;
    height: 10vh;
    transform: translate(-30%, 40%);
  }

  .havet {
    margin-left: -30vw;
  }

  #section7 article {
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 10vw;
    transform: translateX(7%);
    width: 70%;
  }

  #section7 h2 {
    margin-top: 5vh;
  }

  .some {
    width: 15%;
  }

  /* FOOTER */

  footer a,
  footer p,
  .opadtxt {
    font-size: medium;
  }

  .footerimg {
    width: 20%;
  }

  .tilbage {
    cursor: pointer;
    margin-top: 170vh;
    width: 7vw;
  }
}

@media (min-width: 1400px) {
  .flexweb {
    display: flex;
    flex-direction: row;
  }

  /* SECTION 1 */

  .logo img {
    height: 50%;
    margin-top: 25vh;
  }

  .nedad img {
    width: 3vw;
  }

  .nav-link {
    font-size: x-large;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  /* SECTION 2 */
  #section2 {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #section2 article {
    padding: 3vw;
    margin-right: 10vw;
    width: 50%;
  }
  .first {
    margin-top: 5vw;
    margin-left: 0vw;
  }

  .second {
    margin-left: 10vw;
    margin-top: -30vh;
  }

  .blomst {
    width: auto;
    margin-top: 25vh;
    margin-left: -5vw;
  }

  .opdeler {
    width: 25%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 40%;
  }

  /* SECTION 3 */
  #section3 {
    margin-top: 0vw;
  }

  #section3 article {
    width: 50%;
    height: 60%;
    padding-top: 5vh;
    margin-bottom: 10vh;
    margin-top: 25vh;
  }

  #section3 p {
    width: 80%;
  }

  .tree {
    height: 30vh;
    margin-top: 10vh;
  }

  .label {
    height: 100vh;
    margin-left: 0vw;
    margin-top: 5vh;
  }

  .opdeler2 {
    width: 25%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 40%;
  }

  .opdeler3 {
    width: 25%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 40%;
    margin-top: 130vh;
  }

  /* SECTION 4 */
  #section4 img {
    width: 50%;
    margin-left: 25%;
  }

  /* SECTION 5 */
  #section5 {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    width: 50%;
  }

  #section5 h1 {
    margin-left: -5vw;
    margin-right: -5vw;
    margin-bottom: 2vh;
  }

  #section5 article {
    padding: 3vw;
  }

  #section5 .text {
    padding: 1vw;
    width: 41%;
  }

  #section5 .apple {
    width: 40%;
    transform: translate(80%, 100%);
  }

  #section5 .glas {
    width: auto;
    height: 15vh;
    transform: translate(-450%, 50%);
  }

  #section5 .batteri {
    width: auto;
    height: 10vh;
    transform: translate(-30%, 100%);
  }

  /* SECTION 6 */
  #section6 {
    width: 100%;
    display: grid;
  }

  #section6 .info {
    border-radius: 100%;
    width: 30%;
    margin-left: 20vw;
  }

  .havet {
    width: 30%;
    margin-top: -40vh;
    margin-left: 40vw;
  }

  /* SECTION 7 */
  #section7 {
    background-image: url(img/baggrund.png);
    position: absolute;
    width: 100%;
    background-size: cover;
  }

  #section7 article {
    background-color: var(--article-color);
    padding: 5vw;
    margin: 5vw;
    position: relative;
    margin-right: 25vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 50%;
    margin-left: 22vw;
  }

  .some {
    width: 12%;
    margin: 2vw;
    cursor: pointer;
  }

  /* FOOTER */
  footer {
    background-color: var(--nav);
    padding: 5vw;
    color: #e8feff;
    padding: 2vw;
  }

  .footerimg {
    width: 10vw;
  }

  .tilbage {
    cursor: pointer;
    width: 3vw;
    margin-top: 180vh;
  }
}
